.textAreaWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.textArea {
    height: 11.5rem;
    width: 20rem;
    padding: 0.5rem;
    border: 1px solid var(--uc-color-black);
    border-radius: var(--uc-border-radius);
    margin-top: 0.2rem;
}

.textArea.textAreaError {
    border: 1px solid var(--uc-color-red);
}

.textAreaError {
    font-size: 0.65rem;
    font-weight: light;
    margin-top: 0.1rem;
    padding-left: 0.5rem;
    color: var(--uc-color-red);
    caret-color: var(--uc-color-black);
}

.textAreaLabel {
    font-size: 0.8rem;
    padding-left: 0.2rem;
}

@media screen and (max-width: 850px) {
    .textArea {
        width: 100%;
    }
}
