.button {
    border: 1px solid var(--uc-color-black);
    border-radius: var(--uc-border-radius);
    padding: 0.25rem;
    background-color: var(--uc-color-white);
    cursor: pointer;
}

.button:disabled {
    cursor: none;
}
