.feedback {
    --form-gap: 3rem;
    --form-content-w: 50%;

    display: flex;
    width: 100%;
    justify-content: center;
    gap: var(--form-gap);
}

.feedbackAction {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.feedbackLeft,
.feedbackRight {
    width: var(--form-content-w);
}

@media screen and (max-width: 600px) {
    .feedback {
        flex-direction: column;
        --form-gap: 1rem;
        --form-content-w: 100%;
    }
}
