.page {
    --page-padding: 10rem;

    display: flex;
    justify-content: center;
}

.pageWrapper {
    width: min(1000px, calc(100vw - var(--page-padding)));
    padding: 2rem 0;
}

.pageHeader {
    margin-bottom: 2rem;
    position: sticky;
    background-color: var(--uc-color-white);
    width: 100%;
    z-index: 2;
    top: 0.01rem;
    padding-top: -0.25rem;
}

@media screen and (max-width: 850px) {
    .page {
        --page-padding: 2rem;
    }
}
