.page {
    --page-padding: 10rem;
    display: flex;
    justify-content: center;
}

.pageWrapper {
    width: calc(100vw - var(--page-padding));
    padding-top: 2rem;
}

.pageHeader {
    margin-bottom: 2rem;
}
