:root {
    --uc-border-radius: 0.25rem;

    --uc-color-black: #000;
    --uc-color-white: #fff;
    --uc-color-red: #ff0000;
    --uc-color-gray: #808080;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
