:root {
    --uc-border-radius: 0.25rem;

    --uc-color-black: #000;
    --uc-color-white: #fff;
    --uc-color-red: #ff0000;

    --page-padding: 10rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 850px) {
    :root {
        --page-padding: 4rem;
    }
}
