.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.headerTitle {
    font-size: 1.75rem;
}

@media screen and (max-width: 850px) {
    .headerTitle {
        font-size: 1.5rem;
    }
}
